In [1]:
import numpy as np
import pandas as pd
import scipy
import statsmodels.api as sm
import matplotlib.pyplot as plt
import seaborn as sns
import sklearn
from statsmodels.tsa.arima_model import ARIMA
from arch import arch_model
import seaborn as sns
import yfinance
import warnings
warnings.filterwarnings("ignore")
sns.set()

In [4]:
raw_data = yfinance.download (tickers = "^GSPC ^FTSE ^N225 ^GDAXI", start = "1994-01-07", end = "2018-01-29", 
                              interval = "1d", group_by = 'ticker', auto_adjust = True, threads = True)

[*********************100%%**********************]  4 of 4 completed

In [5]:
df_comp = raw_data.copy()

In [7]:
df_comp.head()

Ticker           ^GDAXI                                                \
Price              Open         High          Low        Close Volume
Date
1994-01-07  2218.959961  2227.639893  2201.820068  2224.949951    0.0
1994-01-10  2231.840088  2238.010010  2222.000000  2225.000000    0.0
1994-01-11  2225.429932  2235.610107  2225.179932  2228.100098    0.0
1994-01-12  2227.120117  2227.790039  2182.060059  2182.060059    0.0
1994-01-13  2171.500000  2183.709961  2134.100098  2142.370117    0.0

Ticker            ^FTSE                                                ...  \
Price              Open         High          Low        Close Volume  ...
Date                                                                   ...
1994-01-07  3401.399902  3446.800049  3398.699951  3446.000000    0.0  ...
1994-01-10  3465.699951  3468.100098  3430.000000  3440.600098    0.0  ...
1994-01-11  3442.500000  3442.500000  3413.500000  3413.800049    0.0  ...
1994-01-12  3394.800049  3402.399902  3372.000000  3372.000000    0.0  ...
1994-01-13  3380.699951  3383.300049  3356.899902  3360.000000    0.0  ...

Ticker      ^N225       ^GSPC                                      \
Price      Volume        Open        High         Low       Close
Date
1994-01-07    0.0  467.089996  470.260010  467.029999  469.899994
1994-01-10    0.0  469.899994  475.269989  469.549988  475.269989
1994-01-11    0.0  475.269989  475.279999  473.269989  474.130005
1994-01-12    0.0  474.130005  475.059998  472.140015  474.170013
1994-01-13    0.0  474.170013  474.170013  471.799988  472.470001

Ticker                          spx          dax         ftse        nikkei
Price            Volume
Date
1994-01-07  324920000.0  469.899994  2224.949951  3446.000000  18124.009766
1994-01-10  319490000.0  475.269989  2225.000000  3440.600098  18443.439453
1994-01-11  305490000.0  474.130005  2228.100098  3413.800049  18485.250000
1994-01-12  310690000.0  474.170013  2182.060059  3372.000000  18793.880859
1994-01-13  277970000.0  472.470001  2142.370117  3360.000000  18577.259766

[5 rows x 24 columns]

In [8]:
df_comp['spx'] = df_comp['^GSPC'].Close[:]
df_comp['dax'] = df_comp['^GDAXI'].Close[:]
df_comp['ftse'] = df_comp['^FTSE'].Close[:]
df_comp['nikkei'] = df_comp['^N225'].Close[:]

In [9]:
df_comp = df_comp.iloc[1:]
del df_comp['^N225']
del df_comp['^GSPC']
del df_comp['^GDAXI']
del df_comp['^FTSE']
df_comp=df_comp.asfreq('b')
df_comp=df_comp.fillna(method='ffill')

In [10]:
df_comp['ret_spx'] = df_comp.spx.pct_change(1)*100
df_comp['ret_ftse'] = df_comp.ftse.pct_change(1)*100
df_comp['ret_dax'] = df_comp.dax.pct_change(1)*100
df_comp['ret_nikkei'] = df_comp.nikkei.pct_change(1)*100

In [11]:
size = int(len(df_comp)*0.8)
df, df_test = df_comp.iloc[:size], df_comp.iloc[size:]

######  Fitting the model

In [15]:
from pmdarima import auto_arima

In [ ]:
model_auto = auto_arima(df.ret_ftse[1:])

In [ ]:
model_auto